body {
  background-color: white;
  font-family: Open Sans, sans-serif;
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: black;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  z-index: 3;
}

.anime {
  margin-left: 15px;
  font-size: 25px;
  color: white;
}

.world {
  font-size: 25px;
  color: #0165e1;
}

.navigation {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.navigation a ion-icon {
  color: #000;
  text-decoration: none;
  font-size: 22px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 95px;
}

.box {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 8px #808080;
  margin-bottom: 20px;
}

.dp {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.username {
  display: inline;
  color: gray;
}

.caption {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.post {
  height: auto;
  width: 315px;
  border-radius: 12px;
}

.interaction {
  margin-top: 10px;
}

ion-icon {
  font-size: 20px;
  margin-right: 60px;
  --ionicon-stroke-width: 40px;
}
